// placeholder for test, dont't remove it.

//$accentColor = #f00
$accentColor = #1890ff
$textColor = #2C3E50
$borderColor = #EAECEF
$codeBgColor = #282C34

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px