// placeholder for test, dont't remove it.

// 响应式变化点
$MQNarrow : 959px;
$MQMobile : 719px;
$MQMobileNarrow : 419px;

.page .theme-default-content:not(.custom) {
    max-width: 880px;
}

.page .page-meta:not(.custom){
    max-width: 880px;
}

.page .page-nav:not(.custom){
    max-width: 880px;
}